.main {
    background-color: #f7f7f7;
    width: 100%;
}
.main-content {
    width: 1010px;
    background-color: #fff;
    margin: 0 auto;
    padding: 13px 36px;
    text-align: left;
}
.ant-pagination {
    text-align: center;
}
.ant-alert-error {
    margin: 5px 0 !important;
}
.ant-spin {
    display: flex;
    justify-content: center;
}

@media (max-width: 420px) {
    .main-content {
        width: 100%;
        padding: 0 17px 20px 15px;
    }
}
